html,
body {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
	background-color: #f0f3f5;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:700;
	font-family: 'Roboto', sans-serif;
}

ul {
	margin:0;
	padding:0;
    list-style:none;
}

a {
	font-family: 'Roboto', sans-serif;
}

a, 
a:hover,
a:focus,
input:focus {
	text-decoration:none;
	outline: none;
}

a:hover {
	color: #ff0000;
}

a:active,
a:focus, button:focus, .btn:focus,
input:focus, textarea:focus, select:focus, 
.form-control, .form-control:focus {
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

.tr-section {
	background-color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;	
}

.main-wrapper {
	margin-top: 20px;
}

#map {
	height: 85vh;
}

/* ==========================================================================
 	Tr Memu
 ========================================================================== */

.tr-menu.sidebar-menu .navbar-default {
	background-color: #fff;
	border-radius: 5px;
	padding: 15px 10px;
}

.tr-menu.sidebar-menu {
	padding: 0;
	margin-bottom: 30px;
}

.tr-menu .navbar-default {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin-bottom: 0;
	background-color: transparent;
}

.tr-menu .navbar-nav>li>a {
	font-weight: 700;
	padding: 20px 0;
}

.tr-menu .navbar-nav>li {
	margin-right: 25px;
}

.tr-menu .navbar-nav>li:last-child {
	margin-right: 0;
}

.tr-sidebar {
	min-height: 20px;
}

.tr-menu .navbar-header {
	float: none;
}

.navbar-brand {
	margin: 2px 0 0;
	padding: 10px 15px;
	height: inherit;
}

.topbar-width-container .navbar-brand {
	padding: 10px 0;
}

.tr-menu .navbar-brand {
	margin-bottom: 10px;
	padding: 5px 15px;
}

.tr-menu.sidebar-menu .navbar-default li,
span.discover {
	text-transform: uppercase;
	font-size: 14px;
	color: #010101;
	font-weight: 700;
	float: none;
	margin-right: 0;
	display: block;
}

span.discover {
	margin-top: 10px;
}

.sidebar-menu .navbar-nav {
	float: none;
	margin: 0;
	padding-bottom: 15px;
}

.sidebar-menu .navbar-nav>li {
	margin: 30px 0;
	display: block;
}

.sidebar-menu .navbar-nav>li:last-child {
	margin-bottom: 0;
}

.sidebar-menu .navbar-nav>li>a {
	line-height: 0;
	padding: 5px 0;
	display: block;
}

.tr-menu .navbar-nav li a {
	font-size: 14px;
	display: block;
	font-weight: 500;
	color: #696969;	
	text-transform: uppercase;
}

.sidebar-menu .navbar-nav li a i {
	color: #010101;
	margin-right: 30px;
}

.tr-menu li.active>a,
.tr-menu li.active a i,
.tr-menu li a:hover,
.tr-menu .navbar-nav li a:focus,
.tr-menu li a:hover i,
.tr-menu .navbar-nav>li>a:hover,
.tr-menu .navbar-nav>li>a:focus,
.tr-menu .navbar-nav>li.active>a:focus,
.tr-menu .navbar-nav>li.active>a,
.tr-menu .navbar-nav>.active>a:hover,
.tr-menu .navbar-nav li a:focus i {
	color: #ff0000;
	background-color: transparent;
}

/* Navbar Toggle */

.tr-menu .navbar-toggle {
	border-color: #ff0000;
}	

.tr-menu .navbar-toggle .icon-bar {
	background-color: #ff0000;
}

.tr-menu .navbar-toggle:focus, 
.tr-menu .navbar-toggle:hover {
	background-color: transparent;
}

.toggle-white.navbar-toggle {
	border-color: #fff;
}	

.toggle-white.navbar-toggle .icon-bar {
	background-color: #fff;
}

.toggle-white.navbar-toggle:focus, 
.toggle-white.navbar-toggle:hover {
	background-color: transparent;
}

.tr-menu .feed  {
	margin-right: 15px;
	padding: 20px 0;
}

.tr-menu .navbar-default .feed li a i {
	margin-right: 0;
}

.tr-menu .navbar-default .feed li a {
	transition: inherit;
	color: #696969;
}

.search-icon {
	cursor: pointer;
	color: #c8cacc;
	font-size: 16px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.search {
	position: absolute;
	top: 0;
	z-index: 99;
	right: 193px;
	width: 0;
	opacity:0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.expanded .search {
	opacity:1;
	width: 250px;
}

.search-form {
	padding-left: 0;
	height: 50px;
	font-size: 14px;
	outline: none;
	width: 100%;
	color: #000;
	border: 1px solid #fff;
	background-color:#f0f3f5;
	border-right: 0;
}

.expanded .search-form {
	padding-left: 15px;
}

.expanded .search-icon {
	background-color:#f2f3f5;
	border-left-color:#fff;
	color:#ff0000;
	position: relative;
}

.expanded .search-icon:before,
.expanded .search-icon:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	left: 0;
	background-color: #fff;
}

.expanded .search-icon:before {
	top: 0;
}

.expanded .search-icon:after {
	bottom: 0;
}